{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
      "development": {
          "plugins": [
            "transform-runtime",
            ["babel-plugin-transform-builtin-extend", {
                "globals": ["Error"]
            }],
            ["react-transform", {
              "transforms": [{
                "transform" : "react-transform-hmr",
                "imports"   : ["react"],
                "locals"    : ["module"]
          }]
        }]
      ]
    },
    "production": {
        "plugins": [
          "transform-runtime",
          ["babel-plugin-transform-builtin-extend", {
              "globals": ["Error"]
          }]
    ]
  }
  }
}
